@keyframes fade {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@-moz-keyframes fade {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

html, body {
  height: 100%;
  position: relative; }

.o-layout .o-body-container {
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px; }

.o-layout-register {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px; }
  .o-layout-register .o-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center; }
    .o-layout-register .o-container .o-card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 30%;
      height: 65%; }
      .o-layout-register .o-container .o-card.o-card_login {
        height: 45%; }
      .o-layout-register .o-container .o-card .o-card-header {
        background-color: #d0d0d0;
        font-weight: bold;
        padding: 15px;
        text-align: center; }
      .o-layout-register .o-container .o-card .o-card-body {
        text-align: center;
        margin: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center; }
        .o-layout-register .o-container .o-card .o-card-body form {
          width: 100%; }
    .o-layout-register .o-container .o-card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
  .o-layout-register footer {
    height: 35px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 1px solid #eeeeee;
    padding-left: 15px;
    padding-top: 10px; }

.navbar .container-fluid {
  margin-left: 2%;
  margin-right: 2%; }
  .navbar .container-fluid .navbar-header .navbar-brand {
    padding: .5rem 1rem; }

.navbar-nav {
  text-align: center; }

.nav li > a:focus, .nav li > a:hover {
  text-decoration: none !important;
  background-color: transparent !important; }

.nav-link {
  text-decoration: none !important;
  background-color: transparent !important; }

.error {
  color: red; }

.modal-content {
  border-radius: 0px; }
  .modal-content .modal-header {
    background-color: rgba(0, 0, 0, 0.03); }
    .modal-content .modal-header h4 {
      min-width: 90%;
      text-align: center; }
  .modal-content .modal-body .form-group .input-group label {
    font-weight: bold; }
    .modal-content .modal-body .form-group .input-group label.input-group-addon {
      max-width: 30%;
      min-width: 30%;
      text-align: right; }

.o-modal-dialog {
  width: 700px; }

.o-message-dialog {
  color: green;
  opacity: 1;
  display: none; }

.o-alert {
  background-color: #2B669A;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent; }

.o-disabled {
  pointer-events: none;
  cursor: no-drop;
  color: gray; }

.o-disabled-order {
  pointer-events: none !important; }

.o-table {
  table-layout: fixed; }
  .o-table .o-tab-header__black {
    background-color: black;
    color: white;
    text-align: center !important; }
  .o-table .o-row-editable {
    background-color: lightblue !important; }

.o-icon {
  margin-left: 5px;
  margin-right: 5px; }
  .o-icon.o-purple {
    color: #585858;
    cursor: pointer; }
  .o-icon.o-green {
    color: green;
    cursor: pointer; }
  .o-icon.o-gray {
    color: #585858;
    cursor: pointer; }
  .o-icon.o-disabled {
    pointer-events: none;
    cursor: no-drop;
    color: #949494; }

.o-content-flex {
  display: flex;
  justify-content: end; }

.o-modulos {
  min-height: 300px;
  max-height: 300px;
  width: 300px;
  overflow: auto; }
  .o-modulos .list-group .list-group-item {
    cursor: pointer; }
    .o-modulos .list-group .list-group-item label {
      font-weight: normal; }

.o-title {
  width: 50%;
  padding-left: 15px; }

.u-text-center {
  text-align: center !important; }

.u-animation {
  display: block;
  opacity: 1;
  animation: fade 1s infinite; }

.u-vertical-align {
  vertical-align: top !important; }

.u-background-transparent {
  background-color: transparent; }

.u-bold {
  font-weight: bold; }

.u-mt-20 {
  margin-top: 20px; }

.u-mb-15 {
  margin-bottom: 15px; }

.u-mb-0 {
  margin-bottom: 0px; }

.u-mr-10 {
  margin-right: 10px !important; }

.u-m-0 {
  margin: 0px; }

.u-p-0 {
  padding: 0; }

.u-pb-15 {
  padding-bottom: 15px; }

.u-pr-30 {
  padding-right: 30px; }

.u-pl-30 {
  padding-left: 30px; }

.u-p-15 {
  padding: 15px; }

.u-border-0 {
  border: none !important; }

.u-border-l0 {
  border-left: none !important; }

.u-border-r0 {
  border-right: none !important; }

.u-width-700 {
  width: 700px;
  margin: 0px;
  display: flex;
  justify-content: space-between; }

.u-width-350 {
  width: 350px;
  margin: 0px;
  display: inline-block;
  min-height: 300px; }

.b-t-r-radius {
  border-top-right-radius: 0px; }

.b-b-r-radius {
  border-bottom-right-radius: 0px; }

.b-t-l-radius {
  border-top-left-radius: 0px; }

.b-b-l-radius {
  border-bottom-left-radius: 0px; }

.box-shadow-none {
  box-shadow: none; }

/*.formularioLogin {
    margin-left: 25%;
    margin-right: 25%;
}*/
